*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    
    background: url("./Icon/House\ 4\ 3.png"), linear-gradient(168.44deg, #2E335A 1.62%, #1C1B33 95.72%);
    padding: 2rem 1rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
main{
    height: 100vh;

}
.content{
    display: flex;
    align-items: center;
    border: rgba(46, 51, 90, 0.26);
    width: 100%;
    max-width: 500px;
    padding: 10px 5px;
    border-radius: 5px;
    box-shadow: inset 0px 4.95102px 4.95102px rgba(0, 0, 0, 0.25);
}
.search input{
    border: none;
    outline: none;
    background: linear-gradient(168.44deg, rgba(46, 51, 90, 0.26) 1.62%, rgba(28, 27, 51, 0.26) 95.72%);
    width: 100%;
    padding-left: 10px;
    max-width: 300px;

}
::placeholder{
    color: rgba(235, 235, 245, 0.6)
}
.search img{
    rotate: 30deg;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}
.cityName{
    font-size: 2.625rem;
}
.temp{
    font-size: 7.3rem;
    font-weight: 200;
}
.clarity{
    color: #EBEBF5;
}
.more-talk{
    display: flex;
}
.contain-result{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.card-result{
    width: 70%;
    background: linear-gradient(90deg, #5936B4 0%, #362A84 103.55%);
    border-radius: 10px;
    box-shadow: inset 0px 4.95102px 4.95102px rgba(0, 0, 0, 0.25);
    display: none;
    align-items: center;
    max-width: 350px;
    justify-content: space-around;
}
#temp-result{
    font-size: 4.95rem;
}
.right-side img{
    rotate: 30deg;
    display: block;
    width: 100px;
}
.high{
    padding: 0px 8px;
}